<!-- <div>
  <button (click)="setGraphType('diy')">DIY</button>
  <button (click)="setGraphType('lightningchart')">Lightning Charts</button>
  <button (click)="setGraphType('plotly')">Plotly</button>
  <button (click)="setGraphType('canvasxpress')">CanvasXpress</button>
</div> -->
<p>
  {{ (currentFileService.currentFile$ | async).name }}
</p>
<!-- <app-diy *ngIf="graphType == 'diy'"></app-diy>
<app-lightning-chart *ngIf="graphType == 'lightningchart'"></app-lightning-chart> -->
<app-plotly-chart *ngIf="graphType == 'plotly'"></app-plotly-chart>
<!-- <app-expresscanvas-chart *ngIf="graphType == 'canvasxpress'"></app-expresscanvas-chart> -->

<br />

<button (click)="play()">Play</button>
<button (click)="pause()">Pause</button>
<button (click)="stop()">Stop</button>
<div id="canvas-container" #canvasContainer>
  <canvas id="amplitude-canvas" #amplitudeCanvas></canvas>
</div>
<!-- <p *ngIf="currentFileService.currentFile$ | async">
  {{ currentFileService.getSoundCursor() | async | async }}
  0 / {{ duration$ | async }}
</p> -->
